.navbar-brand{
    font-size: medium;
}

.table > thead > tr > th {
    vertical-align: middle;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: lightblue;
}

.center-block {
    float: none;
}
