<!DOCTYPE html>
<html ng-app="FrontEnd">

<head>

    <meta charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="Style/style.css">

    <script src="app.js"></script>
    <script src="Kontrolery/glownyKontroler.js"></script>

    <script src="Kontrolery/Zakladki/trasyKontroler.js"></script>
    <script src="Kontrolery/Zakladki/tankowaniaKontroler.js"></script>
    <script src="Kontrolery/Zakladki/pomiaryKontroler.js"></script>
    <script src="Kontrolery/Zakladki/kierowcyKontroler.js"></script>
    <script src="Kontrolery/Zakladki/pojazdyKontroler.js"></script>
    <script src="Kontrolery/Zakladki/uzytkownicyKontroler.js"></script>

    <script src="Kontrolery/Okna/Kierowca/dodajKierowceKontroler.js"></script>
    <script src="Kontrolery/Okna/Pojazd/dodajPojazdKontroler.js"></script>
    <script src="Kontrolery/Okna/Pomiar/dodajPomiarKontroler.js"></script>
    <script src="Kontrolery/Okna/Tankowanie/dodajTankowanieKontroler.js"></script>
    <script src="Kontrolery/Okna/Trasa/dodajTraseKontroler.js"></script>
    <script src="Kontrolery/Okna/Uzytkownik/dodajUzytkownikaKontroler.js"></script>

    <script src="Kontrolery/Okna/Kierowca/edytujKierowceKontroler.js"></script>
    <script src="Kontrolery/Okna/Pojazd/edytujPojazdKontroler.js"></script>
    <script src="Kontrolery/Okna/Pomiar/edytujPomiarKontroler.js"></script>
    <script src="Kontrolery/Okna/Tankowanie/edytujTankowanieKontroler.js"></script>
    <script src="Kontrolery/Okna/Trasa/edytujTraseKontroler.js"></script>
    <script src="Kontrolery/Okna/Uzytkownik/edytujUzytkownikaKontroler.js"></script>

    <script src="Kontrolery/Okna/Haslo/zmienHasloKontroler.js"></script>
    <script src="Kontrolery/Okna/Haslo/resetujHasloKontroler.js"></script>

    <script src="Kontrolery/Okna/Kierowca/wybierzKierowceKontroler.js"></script>
    <script src="Kontrolery/Okna/Pojazd/wybierzPojazdKontroler.js"></script>
    <script src="Kontrolery/Okna/Pomiar/wybierzPomiarKontroler.js"></script>
    <script src="Kontrolery/Okna/Tankowanie/importujTankowaniaKontroler.js"></script>
    <script src="Kontrolery/Okna/Tankowanie/podsumowanieImportuKontroler.js"></script>

    <script src="Serwisy/kierowcySerwis.js"></script>
    <script src="Serwisy/pojazdySerwis.js"></script>
    <script src="Serwisy/pomiarySerwis.js"></script>
    <script src="Serwisy/tankowaniaSerwis.js"></script>
    <script src="Serwisy/trasySerwis.js"></script>
    <script src="Serwisy/uzytkownicySerwis.js"></script>


    <title>FrontEnd</title>

</head>

<body>

<!----------------------------  Pasek nawigacyjny - Niezalogowany użytkownik  ---------------------------->

<nav ng-show="sprawdzUprawnienia()===''" class="navbar navbar-default" role="navigation" ng-controller="glownyKontroler">
    <div class="navbar-header">
        <a class="navbar-brand">Mateusz Trętowski - Praca inżynierska</a>
    </div>
</nav>


<!----------------------------  Panel logowania  ---------------------------->

<div ng-show="sprawdzUprawnienia()===''" class="container" ng-controller="glownyKontroler">

    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-4">Login:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="login">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4">Hasło:</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" ng-model="haslo">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-4 col-sm-2">
                <button type="submit" class="btn btn-info" ng-click=zaloguj()>Zaloguj się</button>
            </div>
        </div>
    </form>
</div>


<!----------------------------  Pasek nawigacyjny - Zalogowany użytkownik  ---------------------------->

<nav ng-hide="sprawdzUprawnienia()===''" class="navbar navbar-default" role="navigation" ng-controller="glownyKontroler">
    <div class="navbar-header">
        <a class="navbar-brand">Mateusz Trętowski - Praca inżynierska</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zalogowano jako: <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="zmienHaslo()">Zmień hasło</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="" ng-click="wyloguj()">Wyloguj się</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


<!----------------------------  Zakładki  ---------------------------->

<div ng-hide="sprawdzUprawnienia()===''" class="container" ng-controller="glownyKontroler">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a data-toggle="tab" href="#trasy">Trasy</a></li>
        <li><a data-toggle="tab" href="#tankowania">Tankowania</a></li>
        <li><a data-toggle="tab" href="#pomiary">Pomiary</a></li>
        <li><a data-toggle="tab" href="#kierowcy">Kierowcy</a></li>
        <li><a data-toggle="tab" href="#pojazdy">Pojazdy</a></li>
        <li ng-show="sprawdzUprawnienia()==='administrator'"><a data-toggle="tab" href="#uzytkownicy">Użytkownicy</a>
        </li>
    </ul>
</div>


<!----------------------------  Zawartość zakładek  ---------------------------->


<div class="tab-content">


    <!----------------------------  Zakładka Trasy  ---------------------------->

    <div ng-hide="sprawdzUprawnienia()===''" id="trasy" class="tab-pane fade in active" ng-controller="trasyKontroler">

        <div class="container">
            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-info" ng-click="pokazFiltry = !pokazFiltry">{{pokazFiltry ? 'Ukryj filtry ' : 'Pokaż filtry '}}<span class="glyphicon glyphicon-filter"/></a>
                    <a class="btn btn-success" ng-click="dodajTrase()">Dodaj trasę <span class="glyphicon glyphicon-plus"/></a>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>
                <div class="col-md-offset-2 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data rozpoczęcia od: </span>
                        <input type="date" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="filtrDataRozpoczeciaOd">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data rozpoczęcia do: </span>
                        <input type="date" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="filtrDataRozpoczeciaDo">
                    </div>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>
                <div class="col-md-offset-2 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data zakończenia od: </span>
                        <input type="date" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="filtrDataZakonczeniaOd">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data zakończenia do: </span>
                        <input type="date" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="filtrDataZakonczeniaDo">
                    </div>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Kierowca 1: </span>
                        <input type="text" class="form-control" ng-model="filtrKierowca1">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Kierowca 2: </span>
                        <input type="text" class="form-control" ng-model="filtrKierowca2">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Pojazd: </span>
                        <input type="text" class="form-control" ng-model="filtrNumerRejestracyjny">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Numer trasy: </span>
                        <input type="text" class="form-control" ng-model="filtrnumerPoleceniaWyjazdu">
                    </div>
                </div>
            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'numerPoleceniaWyjazdu';odwrotneSortowanie = !odwrotneSortowanie">
                            Numer
                            <span ng-show="kluczSortowania == 'numerPoleceniaWyjazdu' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'numerPoleceniaWyjazdu' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>


                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'numerRejestracyjnyPojazdu';odwrotneSortowanie = !odwrotneSortowanie">
                            Pojazd
                            <span ng-show="kluczSortowania == 'numerRejestracyjnyPojazdu' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'numerRejestracyjnyPojazdu' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'kierowca1';odwrotneSortowanie = !odwrotneSortowanie">
                            Kierowca 1
                            <span ng-show="kluczSortowania == 'kierowca1' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'kierowca1' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'kierowca2';odwrotneSortowanie = !odwrotneSortowanie">
                            Kierowca 2
                            <span ng-show="kluczSortowania == 'kierowca2' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'kierowca2' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'dataRozpoczecia';odwrotneSortowanie = !odwrotneSortowanie">
                            Data <br> rozpoczęcia
                            <span ng-show="kluczSortowania == 'dataRozpoczecia' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'dataRozpoczecia' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'dataZakonczenia';odwrotneSortowanie = !odwrotneSortowanie">
                            Data <br> zakończenia
                            <span ng-show="kluczSortowania == 'dataZakonczenia' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'dataZakonczenia' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'srednieSpalanieFaktyczne';odwrotneSortowanie = !odwrotneSortowanie">
                            Sr. spal. fakt. <br> [l / 100 km]
                            <span ng-show="kluczSortowania == 'srednieSpalanieFaktyczne' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'srednieSpalanieFaktyczne' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'srednieSpalanieWgGPS';odwrotneSortowanie = !odwrotneSortowanie">
                            Sr. spal. wg GPS <br> [l / 100 km]
                            <span ng-show="kluczSortowania == 'srednieSpalanieWgGPS' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'srednieSpalanieWgGPS' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'odchylenieOdNormy';odwrotneSortowanie = !odwrotneSortowanie">
                            Różnica w spalaniu <br> [l / 100 km]
                            <span ng-show="kluczSortowania == 'odchylenieOdNormy' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'odchylenieOdNormy' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'przejechaneKilometry';odwrotneSortowanie = !odwrotneSortowanie">
                            Dystans <br> [km]
                            <span ng-show="kluczSortowania == 'przejechaneKilometry' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'przejechaneKilometry' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>
                    <th class="text-center">Edytuj</th>
                    <th class="text-center">Usuń</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="trasa in trasy | filter:{numerRejestracyjnyPojazdu: filtrNumerRejestracyjny, kierowca1: filtrKierowca1, kierowca2: filtrKierowca2, numerPoleceniaWyjazdu: filtrNumerTrast}| orderBy:kluczSortowania:odwrotneSortowanie"
                    ng-if="trasa.dataRozpoczecia >= filtrDataRozpoczeciaOd && trasa.dataRozpoczecia <= filtrDataRozpoczeciaDo &&
                    trasa.dataZakonczenia >= filtrDataZakonczeniaOd && trasa.dataZakonczenia <= filtrDataZakonczeniaDo">
                    <td class="text-center">{{trasa.numerPoleceniaWyjazdu}}</td>
                    <td class="text-center">{{trasa.numerRejestracyjnyPojazdu}}</td>
                    <td class="text-center">{{trasa.kierowca1}}</td>
                    <td class="text-center">{{trasa.kierowca2}}</td>
                    <td class="text-center">{{trasa.dataRozpoczecia | date : 'dd.MM.yyyy' : 'UTC'}}</td>
                    <td class="text-center">{{trasa.dataZakonczenia | date : 'dd.MM.yyyy' : 'UTC'}}</td>
                    <td class="text-right">{{trasa.srednieSpalanieFaktyczne | number : 2}}</td>
                    <td class="text-right">{{trasa.srednieSpalanieWgGPS | number : 2}}</td>
                    <td class="text-right">{{trasa.odchylenieOdNormy | number : 2}}</td>
                    <td class="text-right">{{trasa.przejechaneKilometry | number : 2}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="edytujTrase(trasy.indexOf(trasa))"></button>
                    </td>
                    <td>
                        <button type="button" class="btn-xs btn-danger glyphicon glyphicon-remove center-block" ng-click="usunTrase(trasy.indexOf(trasa))"></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


    <!----------------------------  Zakładka Tankowania  ---------------------------->

    <div ng-hide="sprawdzUprawnienia()===''" id="tankowania" class="tab-pane fade" ng-controller="tankowaniaKontroler">

        <div class="container">

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-info" ng-click="pokazFiltry = !pokazFiltry">{{pokazFiltry ? 'Ukryj filtry ' : 'Pokaż filtry '}}<span class="glyphicon glyphicon-filter"/></a>
                    <a class="btn btn-success" ng-click="dodajTankowanie()">Dodaj tankowanie ręcznie <span class="glyphicon glyphicon-plus"/></a>
                    <a class="btn btn-primary" ng-click="importujTankowania()">Importuj tankowania z pliku <span class="glyphicon glyphicon-save-file"/></a>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>
                <div class="col-md-offset-2 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data od: </span>
                        <input type="date" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="filtrDataOd">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data do: </span>
                        <input type="date" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="filtrDataDo">
                    </div>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>
                <div class="col-md-offset-2 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Dostawca: </span>
                        <input type="text" class="form-control" ng-model="filtrDostawca">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Pojazd: </span>
                        <input type="text" class="form-control" ng-model="filtrNumerRejestracyjny">
                    </div>
                </div>
            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'pojazd';odwrotneSortowanie = !odwrotneSortowanie">
                            Pojazd
                            <span ng-show="kluczSortowania == 'pojazd' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'pojazd' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'data';odwrotneSortowanie = !odwrotneSortowanie">
                            Data
                            <span ng-show="kluczSortowania == 'data' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'data' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'ilosc';odwrotneSortowanie = !odwrotneSortowanie">
                            Ilość [L]
                            <span ng-show="kluczSortowania == 'ilosc' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'ilosc' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'kwota';odwrotneSortowanie = !odwrotneSortowanie">
                            Kwota brutto
                            <span ng-show="kluczSortowania == 'kwota' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'kwota' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'waluta';odwrotneSortowanie = !odwrotneSortowanie">
                            Waluta
                            <span ng-show="kluczSortowania == 'waluta' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'waluta' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'dostawca';odwrotneSortowanie = !odwrotneSortowanie">
                            Dostawca
                            <span ng-show="kluczSortowania == 'dostawca' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'dostawca' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">Edytuj</th>
                    <th class="text-center">Usuń</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="tankowanie in tankowania | filter:{pojazd: filtrNumerRejestracyjny, dostawca:filtrDostawca}| orderBy:kluczSortowania:odwrotneSortowanie" ng-if="tankowanie.data >= filtrDataOd && tankowanie.data <= filtrDataDo">
                    <td class="text-center">{{tankowanie.pojazd}}</td>
                    <td class="text-center">{{tankowanie.data | date : 'dd.MM.yyyy' : 'UTC'}}</td>
                    <td class="text-right">{{tankowanie.ilosc | number : 2}}</td>
                    <td class="text-right">{{tankowanie.kwota | number : 2}}</td>
                    <td class="text-center">{{tankowanie.waluta}}</td>
                    <td class="text-center">{{tankowanie.dostawca}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="edytujTankowanie(tankowania.indexOf(tankowanie))"></button>
                    </td>
                    <td>
                        <button type="button" class="btn-xs btn-danger glyphicon glyphicon-remove center-block" ng-click="usunTankowanie(tankowania.indexOf(tankowanie))"></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>


    <!----------------------------  Zakładka Pomiary  ---------------------------->

    <div ng-hide="sprawdzUprawnienia()===''" id="pomiary" class="tab-pane fade" ng-controller="pomiaryKontroler">

        <div class="container">

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-info" ng-click="pokazFiltry = !pokazFiltry">{{pokazFiltry ? 'Ukryj filtry ' : 'Pokaż filtry '}}<span class="glyphicon glyphicon-filter"/></a>
                    <a class="btn btn-success" ng-click="dodajPomiar()">Dodaj pomiar <span class="glyphicon glyphicon-plus"/></a>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data od: </span>
                        <input type="date" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="filtrDataOd">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data do: </span>
                        <input type="date" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="filtrDataDo">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Pojazd: </span>
                        <input type="text" class="form-control" ng-model="filtrNumerRejestracyjny">
                    </div>
                </div>
            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'numerRejestracyjnyPojazdu';odwrotneSortowanie = !odwrotneSortowanie">
                            Pojazd
                            <span ng-show="kluczSortowania == 'numerRejestracyjnyPojazdu' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'numerRejestracyjnyPojazdu' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'dataPomiaru';odwrotneSortowanie = !odwrotneSortowanie">
                            Data
                            <span ng-show="kluczSortowania == 'dataPomiaru' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'dataPomiaru' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'trasaRozpoczynana';odwrotneSortowanie = !odwrotneSortowanie">
                            Trasa rozpoczynana
                            <span ng-show="kluczSortowania == 'trasaRozpoczynana' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'trasaRozpoczynana' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'trasaKonczona';odwrotneSortowanie = !odwrotneSortowanie">
                            Trasa kończona
                            <span ng-show="kluczSortowania == 'trasaKonczona' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'trasaKonczona' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'sposobPomiaru';odwrotneSortowanie = !odwrotneSortowanie">
                            Sposób pomiaru
                            <span ng-show="kluczSortowania == 'sposobPomiaru' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'sposobPomiaru' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'lewy';odwrotneSortowanie = !odwrotneSortowanie">
                            Zbiornik lewy [L]
                            <span ng-show="kluczSortowania == 'lewy' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'lewy' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'prawy';odwrotneSortowanie = !odwrotneSortowanie">
                            Zbiornik prawy [L]
                            <span ng-show="kluczSortowania == 'prawy' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'prawy' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'lacznie';odwrotneSortowanie = !odwrotneSortowanie">
                            Łącznie [L]
                            <span ng-show="kluczSortowania == 'lacznie' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'lacznie' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">Edytuj</th>
                    <th class="text-center">Usuń</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="pomiar in pomiary | filter:{numerRejestracyjnyPojazdu: filtrNumerRejestracyjny}| orderBy:kluczSortowania:odwrotneSortowanie" ng-if="pomiar.dataPomiaru >= filtrDataOd && pomiar.dataPomiaru <= filtrDataDo">
                    <td class="text-center">{{pomiar.numerRejestracyjnyPojazdu}}</td>
                    <td class="text-center">{{pomiar.dataPomiaru | date : 'dd.MM.yyyy' : 'UTC'}}</td>
                    <td class="text-center"> -</td>
                    <td class="text-center"> -</td>
                    <td ng-if="pomiar.pomiarReczny" class="text-center">Pomiar ręczny [cm]</td>
                    <td ng-if="pomiar.dotankowanoDoPelna" class="text-center">Dotankowano do pełna [L]</td>
                    <td ng-if="pomiar.zmierzonoIlosc" class="text-center">Zmierzono ilość [L]</td>
                    <td class="text-right">{{pomiar.lewy | number : 2}}</td>
                    <td class="text-right">{{pomiar.prawy | number : 2}}</td>
                    <td class="text-right">{{pomiar.lacznie | number : 2}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="edytujPomiar(pomiary.indexOf(pomiar))"></button>
                    </td>
                    <td>
                        <button type="button" class="btn-xs btn-danger glyphicon glyphicon-remove center-block" ng-click="usunPomiar(pomiary.indexOf(pomiar))"></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

    <!----------------------------  Zakładka Kierowcy  ---------------------------->

    <div ng-hide="sprawdzUprawnienia()===''" id="kierowcy" class="tab-pane fade" ng-controller="kierowcyKontroler">

        <div class="container">

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-info" ng-click="pokazFiltry = !pokazFiltry">{{pokazFiltry ? 'Ukryj filtry ' : 'Pokaż filtry '}}<span class="glyphicon glyphicon-filter"/></a>
                    <a class="btn btn-success" ng-click="dodajKierowce()">Dodaj kierowcę <span class="glyphicon glyphicon-plus"/></a>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>
                <div class="col-md-offset-1 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Imię: </span>
                        <input type="text" class="form-control" ng-model="filtrImie">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Nazwisko: </span>
                        <input type="text" class="form-control" ng-model="filtrNazwisko">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="input-group center-block"><input type="checkbox" ng-model="filtrPokazNieaktywnych">Pokaż niekatywnych</div>
                </div>
            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'imie';odwrotneSortowanie = !odwrotneSortowanie">
                            Imię
                            <span ng-show="kluczSortowania == 'imie' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'imie' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'nazwisko';odwrotneSortowanie = !odwrotneSortowanie">
                            Nazwisko
                            <span ng-show="kluczSortowania == 'nazwisko' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'nazwisko' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">Edytuj</th>
                    <th class="text-center">Usuń</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="kierowca in kierowcy | filter:{imie: filtrImie, nazwisko:filtrNazwisko}| orderBy:kluczSortowania:odwrotneSortowanie" ng-if="kierowca.czyAktywny === true || (kierowca.czyAktywny === false && filtrPokazNieaktywnych === true)">
                    <td class="text-center">{{kierowca.imie}}</td>
                    <td class="text-center">{{kierowca.nazwisko}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="edytujKierowce(kierowcy.indexOf(kierowca))"></button>
                    </td>
                    <td>
                        <button type="button" class="btn-xs btn-danger glyphicon glyphicon-remove center-block" ng-click="usunKierowce(kierowcy.indexOf(kierowca))"></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>


    <!----------------------------  Zakładka Pojazdy  ---------------------------->

    <div ng-hide="sprawdzUprawnienia()===''" id="pojazdy" class="tab-pane fade" ng-controller="pojazdyKontroler">

        <div class="container">

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-info" ng-click="pokazFiltry = !pokazFiltry">{{pokazFiltry ? 'Ukryj filtry ' : 'Pokaż filtry '}}<span class="glyphicon glyphicon-filter"/></a>
                    <a class="btn btn-success" ng-click="dodajPojazd()">Dodaj pojazd <span class="glyphicon glyphicon-plus"/></a>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>

                <div class="col-md-offset-1 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Numer rejestracyjny: </span>
                        <input type="text" class="form-control" ng-model="filtrNumerRejestracyjny">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Marka i model: </span>
                        <input type="text" class="form-control" ng-model="filtrMarka">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="input-group center-block"><input type="checkbox" ng-model="filtrPokazNieaktywne">Pokaż niekatywne</div>
                </div>

            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'numerRejestracyjny';odwrotneSortowanie = !odwrotneSortowanie">
                            Numer rejestracyjny
                            <span ng-show="kluczSortowania == 'numerRejestracyjny' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'numerRejestracyjny' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'markaIModel';odwrotneSortowanie = !odwrotneSortowanie">
                            Marka i model
                            <span ng-show="kluczSortowania == 'markaIModel' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'markaIModel' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">Edytuj</th>
                    <th class="text-center">Usuń</th>
                </tr>

                </thead>
                <tbody>

                <tr ng-repeat="pojazd in pojazdy | filter:{numerRejestracyjny: filtrNumerRejestracyjny, markaIModel:filtrMarka} | orderBy:kluczSortowania:odwrotneSortowanie" ng-if="pojazd.czyAktywny === true || (pojazd.czyAktywny === false && filtrPokazNieaktywne === true)">
                    <td class="text-center">{{pojazd.numerRejestracyjny}}</td>
                    <td class="text-center">{{pojazd.markaIModel}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="edytujPojazd(pojazdy.indexOf(pojazd))"></button>
                    </td>
                    <td>
                        <button type="button" class="btn-xs btn-danger glyphicon glyphicon-remove center-block" ng-click="usunPojazd(pojazdy.indexOf(pojazd))"></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>


    <!----------------------------  Zakładka Uzytkownicy  ---------------------------->

    <div ng-hide="sprawdzUprawnienia()===''" id="uzytkownicy" class="tab-pane fade" ng-controller="uzytkownicyKontroler">

        <div class="container">

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-info" ng-click="pokazFiltry = !pokazFiltry">{{pokazFiltry ? 'Ukryj filtry ' : 'Pokaż filtry '}}<span class="glyphicon glyphicon-filter"/></a>
                    <a class="btn btn-success" ng-click="dodajUzytkownika()">Dodaj użytkownika <span class="glyphicon glyphicon-plus"/></a>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Imię: </span>
                        <input type="text" class="form-control" ng-model="filtrImie">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Nazwisko: </span>
                        <input type="text" class="form-control" ng-model="filtrNazwisko">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Rola: </span>
                        <input type="text" class="form-control" ng-model="filtrRola">
                    </div>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>
                <div class="col-md-offset-5 col-md-2">
                    <div class="input-group center-block"><input type="checkbox" ng-model="filtrPokazNieaktywnych">Pokaż niekatywnych</div>
                </div>
            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'imie';odwrotneSortowanie = !odwrotneSortowanie">
                            Imię
                            <span ng-show="kluczSortowania == 'imie' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'imie' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'nazwisko';odwrotneSortowanie = !odwrotneSortowanie">
                            Nazwisko
                            <span ng-show="kluczSortowania == 'nazwisko' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'nazwisko' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'login';odwrotneSortowanie = !odwrotneSortowanie">
                            Login
                            <span ng-show="kluczSortowania == 'login' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'login' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'rola';odwrotneSortowanie = !odwrotneSortowanie">
                            Rola
                            <span ng-show="kluczSortowania == 'rola' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'rola' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">Edytuj</th>
                    <th class="text-center">Usuń</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="uzytkownik in uzytkownicy | filter:{imie: filtrImie, nazwisko:filtrNazwisko, rola:filtrRola}| orderBy:kluczSortowania:odwrotneSortowanie" ng-if="uzytkownik.czyAktywny === true || (uzytkownik.czyAktywny === false && filtrPokazNieaktywnych === true)">
                    <td class="text-center">{{uzytkownik.imie}}</td>
                    <td class="text-center">{{uzytkownik.nazwisko}}</td>
                    <td class="text-center">{{uzytkownik.login}}</td>
                    <td class="text-center">{{uzytkownik.nazwaRoli}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="edytujUzytkownika(uzytkownicy.indexOf(uzytkownik))"></button>
                    </td>
                    <td>
                        <button type="button" class="btn-xs btn-danger glyphicon glyphicon-remove center-block" ng-click="usunUzytkownika(uzytkownicy.indexOf(uzytkownik))"></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>

</body>

</html>


