<!DOCTYPE html>
<html ng-app="FrontEnd">

<head>

    <meta charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="Styles/style.css">

    <script src="app.js"></script>
    <script src="Controllers/MainController.js"></script>

    <script src="RESTServices/DriverRESTService.js"></script>
    <script src="RESTServices/FuellingRESTService.js"></script>
    <script src="RESTServices/MeasurmentRESTService.js"></script>
    <script src="RESTServices/TripRESTService.js"></script>
    <script src="RESTServices/UserRESTService.js"></script>
    <script src="RESTServices/VehicleRESTService.js"></script>

    <script src="Services/DriversService.js"></script>
    <script src="Services/VehiclesService.js"></script>
    <script src="Services/MeasurmentsService.js"></script>
    <script src="Services/FuellingsService.js"></script>
    <script src="Services/TripsService.js"></script>
    <script src="Services/UsersService.js"></script>
    <script src="Services/InputService.js"></script>

    <script src="Controllers/Tabs/TripsController.js"></script>
    <script src="Controllers/Tabs/FuellingsController.js"></script>
    <script src="Controllers/Tabs/MeasurmentsController.js"></script>
    <script src="Controllers/Tabs/DriversController.js"></script>
    <script src="Controllers/Tabs/VehiclesController.js"></script>
    <script src="Controllers/Tabs/UsersController.js"></script>

    <script src="Controllers/Modals/Driver/AddDriverController.js"></script>
    <script src="Controllers/Modals/Vehicle/AddVehicleController.js"></script>
    <script src="Controllers/Modals/Measurment/AddMeasurmentController.js"></script>
    <script src="Controllers/Modals/Fuelling/AddFuellingController.js"></script>
    <script src="Controllers/Modals/Trip/AddTripController.js"></script>
    <script src="Controllers/Modals/User/AddUserController.js"></script>

    <script src="Controllers/Modals/Driver/EditDriverController.js"></script>
    <script src="Controllers/Modals/Vehicle/EditVehicleController.js"></script>
    <script src="Controllers/Modals/Measurment/EditMeasurmentController.js"></script>
    <script src="Controllers/Modals/Fuelling/EditFuellingController.js"></script>
    <script src="Controllers/Modals/Trip/EditTripController.js"></script>
    <script src="Controllers/Modals/User/EditUserController.js"></script>

    <script src="Controllers/Modals/Password/EditPasswordController.js"></script>
    <script src="Controllers/Modals/Password/ResetPasswordController.js"></script>

    <script src="Controllers/Modals/Driver/SelectDriverController.js"></script>
    <script src="Controllers/Modals/Vehicle/SelectVehicleController.js"></script>
    <script src="Controllers/Modals/Measurment/SelectMeasurmentController.js"></script>
    <script src="Controllers/Modals/Fuelling/ImportFuellingsController.js"></script>
    <script src="Controllers/Modals/Fuelling/ImportSummaryController.js"></script>
    <script src="Controllers/Modals/Fuelling/SaveImportedSummaryController.js"></script>

    <script src="Validators/LastNameValidator.js"></script>
    <script src="Validators/FirstNameValidator.js"></script>
    <script src="Validators/PlateNumbersValidator.js"></script>
    <script src="Validators/InputValidator.js"></script>
    <script src="Validators/DateValidator.js"></script>

    <title>FrontEnd</title>

</head>

<body>

<div ng-controller="mainController">

    <!----------------------------  Pasek nawigacyjny - Niezalogowany użytkownik  ---------------------------->

    <nav ng-show="checkPermissions()===''" class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand">Mateusz Trętowski - Praca inżynierska</a>
        </div>
    </nav>


    <!----------------------------  Panel logowania  ---------------------------->

    <div ng-show="checkPermissions()===''" class="container">

        <div class="well">
            <h3 class="text-center">
                Uwaga
            </h3>
            <h4 class="text-center">
                Ta strona wykorzystuje pliki cookies.
            </h4>
            <h5 class="text-center">
                W przeglądarce zapisywane są jedynie dane o aktualnie zalogowanym użytkowniku celem uniknięcia konieczności ponowngo logowania
                po odświeżeniu witryny lub zamknięciu przeglądarki.
            </h5>
        </div>

        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-4">Login:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="username" title="username">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4">Hasło:</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" ng-model="password" title="password">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-4 col-sm-2">
                    <button type="submit" class="btn btn-info" ng-click=logIn()>Zaloguj się</button>
                </div>
            </div>
        </form>
    </div>


    <!----------------------------  Pasek nawigacyjny - Zalogowany użytkownik  ---------------------------->

    <nav ng-hide="checkPermissions()===''" class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand">Mateusz Trętowski - Praca inżynierska</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zalogowano jako: {{firstName}} {{lastName}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="editPassword()">Zmień hasło</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="logOut()">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>


    <!----------------------------  Zakładki  ---------------------------->

    <div ng-hide="checkPermissions()===''" class="container">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#trips">Trasy</a></li>
            <li><a data-toggle="tab" href="#fuellings">Tankowania</a></li>
            <li><a data-toggle="tab" href="#measurments">Pomiary</a></li>
            <li><a data-toggle="tab" href="#drivers">Kierowcy</a></li>
            <li><a data-toggle="tab" href="#vehicles">Pojazdy</a></li>
            <li ng-show="checkPermissions()==='admin'"><a data-toggle="tab" href="#users">Użytkownicy</a>
            </li>
        </ul>
    </div>


</div>

<!----------------------------  Zawartość zakładek  ---------------------------->


<div class="tab-content">


    <!----------------------------  Zakładka Trasy  ---------------------------->

    <div ng-hide="checkPermissions()===''" id="trips" class="tab-pane fade in active" ng-controller="tripsController">

        <div class="container">
            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-info" ng-click="showFilters = !showFilters">{{showFilters ? 'Ukryj filtry ' : 'Pokaż filtry '}}<span class="glyphicon glyphicon-filter"></span></a>
                    <a class="btn btn-success" ng-click="addTrip()">Dodaj trasę <span class="glyphicon glyphicon-plus"></span></a>
                </div>
            </div>

            <div class="row" ng-show="showFilters">
                <br>
                <div class="col-md-offset-2 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data rozpoczęcia od: </span>
                        <input type="date" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="startDateFromFilter" title="tripsStartDateFromFilter">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data rozpoczęcia do: </span>
                        <input type="date" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="startDateToFilter" title="tripsStartDateToFilter">
                    </div>
                </div>
            </div>

            <div class="row" ng-show="showFilters">
                <br>
                <div class="col-md-offset-2 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data zakończenia od: </span>
                        <input type="date" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="endDateFromFilter" title="tripsEndDateFromFilter">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data zakończenia do: </span>
                        <input type="date" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="endDateToFilter" title="tripsEndDateToFilter">
                    </div>
                </div>
            </div>

            <div class="row" ng-show="showFilters">
                <br>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Kierowca 1: </span>
                        <input type="text" class="form-control" ng-model="driverNameFilter" title="tripsDriverNameFilter">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Pojazd: </span>
                        <input type="text" class="form-control" ng-model="plateNumbersFilter" title="tripsPlateNumbersFilter">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Numer trasy: </span>
                        <input type="text" class="form-control" ng-model="businessTripNumberFilter" title="tripsBusinessTripNumberFilter">
                    </div>
                </div>
            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'businessTripNumber';descendingSort = !descendingSort">
                            Numer
                            <span ng-show="sortingKey == 'businessTripNumber' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'businessTripNumber' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>


                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'vehiclePlateNumbers';descendingSort = !descendingSort">
                            Pojazd
                            <span ng-show="sortingKey == 'vehiclePlateNumbers' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'vehiclePlateNumbers' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'firstDriver';descendingSort = !descendingSort">
                            Kierowca
                            <span ng-show="sortingKey == 'firstDriver' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'firstDriver' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'startDate';descendingSort = !descendingSort">
                            Data <br> rozpoczęcia
                            <span ng-show="sortingKey == 'startDate' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'startDate' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'endDate';descendingSort = !descendingSort">
                            Data <br> zakończenia
                            <span ng-show="sortingKey == 'endDate' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'endDate' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'realFuelConsumption';descendingSort = !descendingSort">
                            Sr. spal. fakt. <br> [l / 100 km]
                            <span ng-show="sortingKey == 'realFuelConsumption' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'realFuelConsumption' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'fuelConsumptionByGps';descendingSort = !descendingSort">
                            Sr. spal. wg GPS <br> [l / 100 km]
                            <span ng-show="sortingKey == 'fuelConsumptionByGps' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'fuelConsumptionByGps' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'fuelConsumptionDifference';descendingSort = !descendingSort">
                            Różnica w spalaniu <br> [l / 100 km]
                            <span ng-show="sortingKey == 'fuelConsumptionDifference' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'fuelConsumptionDifference' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'distance';descendingSort = !descendingSort">
                            Dystans <br> [km]
                            <span ng-show="sortingKey == 'distance' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'distance' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>
                    <th class="text-center">Edytuj</th>
                    <th class="text-center">Usuń</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="trip in trips | filter:{vehiclePlateNumbers: plateNumbersFilter, driverName: driverNameFilter, businessTripNumber: businessTripNumberFilter}| orderBy:sortingKey:descendingSort"
                    ng-if="trip.startDate >= startDateFromFilter && trip.startDate <= startDateToFilter &&
                    trip.endDate >= endDateFromFilter && trip.endDate <= endDateToFilter">
                    <td class="text-center">{{trip.businessTripNumber}}</td>
                    <td class="text-center">{{trip.vehiclePlateNumbers}}</td>
                    <td class="text-center">{{trip.driverName}}</td>
                    <td class="text-center">{{trip.startDate | date : 'dd.MM.yyyy' : 'UTC'}}</td>
                    <td class="text-center">{{trip.endDate | date : 'dd.MM.yyyy' : 'UTC'}}</td>
                    <td class="text-right">{{trip.realFuelConsumption | number : 2}}</td>
                    <td class="text-right">{{trip.fuelConsumptionByGps | number : 2}}</td>
                    <td class="text-right">{{trip.fuelConsumptionByGps - trip.realFuelConsumption | number : 2}}</td>
                    <td class="text-right">{{trip.distance | number : 2}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="editTrip(trips.indexOf(trip))"></button>
                    </td>
                    <td>
                        <button type="button" class="btn-xs btn-danger glyphicon glyphicon-remove center-block" ng-click="deleteTrip(trips.indexOf(trip))"></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


    <!----------------------------  Zakładka Tankowania  ---------------------------->

    <div ng-hide="checkPermissions()===''" id="fuellings" class="tab-pane fade" ng-controller="fuellingsController">

        <div class="container">

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-info" ng-click="showFilters = !showFilters">{{showFilters ? 'Ukryj filtry ' : 'Pokaż filtry '}}<span class="glyphicon glyphicon-filter"></span></a>
                    <a class="btn btn-success" ng-click="addFuelling()">Dodaj tankowanie ręcznie <span class="glyphicon glyphicon-plus"></span></a>
                    <a class="btn btn-primary" ng-click="importFuellings()">Importuj tankowania z pliku <span class="glyphicon glyphicon-save-file"></span></a>
                </div>
            </div>

            <div class="row" ng-show="showFilters">
                <br>
                <div class="col-md-offset-2 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data od: </span>
                        <input type="date" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="dateFromFilter" title="fuellingsDateFromFilter">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data do: </span>
                        <input type="date" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="dateToFilter" title="fuellingsDateToFilter">
                    </div>
                </div>
            </div>

            <div class="row" ng-show="showFilters">
                <br>
                <div class="col-md-offset-2 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Dostawca: </span>
                        <input type="text" class="form-control" ng-model="supplierFilter" title="fuellingsSupplierFilter">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Pojazd: </span>
                        <input type="text" class="form-control" ng-model="plateNumbersFilter" title="fuellingsPlateNumbersFilter">
                    </div>
                </div>
            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'vehicle';descendingSort = !descendingSort">
                            Pojazd
                            <span ng-show="sortingKey == 'vehicle' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'vehicle' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'date';descendingSort = !descendingSort">
                            Data
                            <span ng-show="sortingKey == 'date' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'date' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'amount';descendingSort = !descendingSort">
                            Ilość [L]
                            <span ng-show="sortingKey == 'amount' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'amount' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'grossValue';descendingSort = !descendingSort">
                            Kwota brutto
                            <span ng-show="sortingKey == 'grossValue' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'grossValue' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'currency';descendingSort = !descendingSort">
                            Waluta
                            <span ng-show="sortingKey == 'currency' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'currency' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'supplier';descendingSort = !descendingSort">
                            Dostawca
                            <span ng-show="sortingKey == 'supplier' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'supplier' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">Edytuj</th>
                    <th class="text-center">Usuń</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="fuelling in fuellings | filter:{vehiclePlateNumbers: plateNumbersFilter, supplierName:supplierFilter}| orderBy:sortingKey:descendingSort" ng-if="fuelling.date >= dateFromFilter && fuelling.date <= dateToFilter">
                    <td class="text-center">{{fuelling.vehiclePlateNumbers}}</td>
                    <td class="text-center">{{fuelling.date | date : 'dd.MM.yyyy' : 'UTC'}}</td>
                    <td class="text-right">{{fuelling.amount | number : 2}}</td>
                    <td class="text-right">{{fuelling.grossValue | number : 2}}</td>
                    <td class="text-center">{{fuelling.currency}}</td>
                    <td class="text-center">{{fuelling.supplierName}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="editFuelling(fuellings.indexOf(fuelling))"></button>
                    </td>
                    <td>
                        <button type="button" class="btn-xs btn-danger glyphicon glyphicon-remove center-block" ng-click="deleteFuelling(fuellings.indexOf(fuelling))"></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>


    <!----------------------------  Zakładka Pomiary  ---------------------------->

    <div ng-hide="checkPermissions()===''" id="measurments" class="tab-pane fade" ng-controller="measurmentsController">

        <div class="container">

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-info" ng-click="showFilters = !showFilters">{{showFilters ? 'Ukryj filtry ' : 'Pokaż filtry '}}<span class="glyphicon glyphicon-filter"></span></a>
                    <a class="btn btn-success" ng-click="addMeasurment()">Dodaj pomiar <span class="glyphicon glyphicon-plus"></span></a>
                </div>
            </div>

            <div class="row" ng-show="showFilters">
                <br>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data od: </span>
                        <input type="date" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="dateFromFilter" title="measurmentsDateFromFilter">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data do: </span>
                        <input type="date" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="dateToFilter" title="measurmentsDateToFilter">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Pojazd: </span>
                        <input type="text" class="form-control" ng-model="plateNumbersFilter" title="measurmentsPlateNumbersFilter">
                    </div>
                </div>
            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'vehiclePlateNumbers';descendingSort = !descendingSort">
                            Pojazd
                            <span ng-show="sortingKey == 'vehiclePlateNumbers' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'vehiclePlateNumbers' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'date';descendingSort = !descendingSort">
                            Data
                            <span ng-show="sortingKey == 'date' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'date' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'startedBusinessTrip';descendingSort = !descendingSort">
                            Trasa rozpoczynana
                            <span ng-show="sortingKey == 'startedBusinessTrip' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'startedBusinessTrip' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'endedBusinessTrip';descendingSort = !descendingSort">
                            Trasa kończona
                            <span ng-show="sortingKey == 'endedBusinessTrip' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'endedBusinessTrip' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'measurmentWay';descendingSort = !descendingSort">
                            Sposób pomiaru
                            <span ng-show="sortingKey == 'measurmentWay' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'measurmentWay' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'leftFuelTankAmount';descendingSort = !descendingSort">
                            Zbiornik lewy [L]
                            <span ng-show="sortingKey == 'leftFuelTankAmount' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'leftFuelTankAmount' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'rightFuelTankAmount';descendingSort = !descendingSort">
                            Zbiornik prawy [L]
                            <span ng-show="sortingKey == 'rightFuelTankAmount' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'rightFuelTankAmount' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'lacznie';descendingSort = !descendingSort">
                            Łącznie [L]
                            <span ng-show="sortingKey == 'lacznie' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'lacznie' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">Edytuj</th>
                    <th class="text-center">Usuń</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="measurment in measurments | filter:{vehiclePlateNumbers: plateNumbersFilter}| orderBy:sortingKey:descendingSort" ng-if="measurment.date >= dateFromFilter && measurment.date <= dateToFilter">
                    <td class="text-center">{{measurment.vehiclePlateNumbers}}</td>
                    <td class="text-center">{{measurment.date | date : 'dd.MM.yyyy' : 'UTC'}}</td>
                    <td class="text-center">{{measurment.startedBusinessTrip}}</td>
                    <td class="text-center">{{measurment.endedBusinessTrip}}</td>
                    <td ng-if="measurment.manualMeasurment" class="text-center">Pomiar ręczny [cm]</td>
                    <td ng-if="measurment.returnToFull" class="text-center">Dotankowano do pełna [L]</td>
                    <td ng-if="measurment.measuredAmount" class="text-center">Zmierzono ilość [L]</td>
                    <td class="text-right">{{measurment.leftFuelTankAmount | number : 2}}</td>
                    <td class="text-right">{{measurment.rightFuelTankAmount | number : 2}}</td>
                    <td class="text-right">{{measurment.leftFuelTankAmount + measurment.rightFuelTankAmount | number : 2}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="editMeasurment(measurments.indexOf(measurment))"></button>
                    </td>
                    <td>
                        <button type="button" class="btn-xs btn-danger glyphicon glyphicon-remove center-block" ng-click="deleteMeasurment(measurments.indexOf(measurment))"></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

    <!----------------------------  Zakładka Kierowcy  ---------------------------->

    <div ng-hide="checkPermissions()===''" id="drivers" class="tab-pane fade" ng-controller="driversController">

        <div class="container">

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-info" ng-click="showFilters = !showFilters">{{showFilters ? 'Ukryj filtry ' : 'Pokaż filtry '}}<span class="glyphicon glyphicon-filter"></span></a>
                    <a class="btn btn-success" ng-click="addDriver()">Dodaj kierowcę <span class="glyphicon glyphicon-plus"></span></a>
                </div>
            </div>

            <div class="row" ng-show="showFilters">
                <br>
                <div class="col-md-offset-1 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Imię: </span>
                        <input type="text" class="form-control" ng-model="firstNameFilter" title="driversFirstNameFilter">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Nazwisko: </span>
                        <input type="text" class="form-control" ng-model="lastNameFilter" title="driversLastNameFilter">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="input-group center-block"><input type="checkbox" ng-model="showInactiveFilter" title="driversShowInactiveFilter">Pokaż niekatywnych</div>
                </div>
            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'firstName';descendingSort = !descendingSort">
                            Imię
                            <span ng-show="sortingKey == 'firstName' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'firstName' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'lastName';descendingSort = !descendingSort">
                            Nazwisko
                            <span ng-show="sortingKey == 'lastName' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'lastName' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">Edytuj</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="driver in drivers | filter:{firstName: firstNameFilter, lastName:lastNameFilter}| orderBy:sortingKey:descendingSort" ng-if="driver.active === true || (driver.active === false && showInactiveFilter === true)">
                    <td class="text-center">{{driver.firstName}}</td>
                    <td class="text-center">{{driver.lastName}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="editDriver(drivers.indexOf(driver))"></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>


    <!----------------------------  Zakładka Pojazdy  ---------------------------->

    <div ng-hide="checkPermissions()===''" id="vehicles" class="tab-pane fade" ng-controller="vehiclesController">

        <div class="container">

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-info" ng-click="showFilters = !showFilters">{{showFilters ? 'Ukryj filtry ' : 'Pokaż filtry '}}<span class="glyphicon glyphicon-filter"></span></a>
                    <a class="btn btn-success" ng-click="addVehicle()">Dodaj pojazd <span class="glyphicon glyphicon-plus"></span></a>
                </div>
            </div>

            <div class="row" ng-show="showFilters">
                <br>

                <div class="col-md-offset-1 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Numer rejestracyjny: </span>
                        <input type="text" class="form-control" ng-model="plateNumbersFilter" title="vehiclesPlateNumbersFilter">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Marka i model: </span>
                        <input type="text" class="form-control" ng-model="brandAndModelFilter" title="vehiclesBrankAndModelFilter">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="input-group center-block"><input type="checkbox" ng-model="showInactive" title="vehiclesShowInactiveFilter">Pokaż niekatywne</div>
                </div>

            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'plateNumbers';descendingSort = !descendingSort">
                            Numer rejestracyjny
                            <span ng-show="sortingKey == 'plateNumbers' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'plateNumbers' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'brandAndModel';descendingSort = !descendingSort">
                            Marka i model
                            <span ng-show="sortingKey == 'brandAndModel' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'brandAndModel' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">Edytuj</th>
                </tr>

                </thead>
                <tbody>

                <tr ng-repeat="vehicle in vehicles | filter:{plateNumbers: plateNumbersFilter, brandAndModel:brandAndModelFilter} | orderBy:sortingKey:descendingSort" ng-if="vehicle.active === true || (vehicle.active === false && showInactive === true)">
                    <td class="text-center">{{vehicle.plateNumbers}}</td>
                    <td class="text-center">{{vehicle.brandAndModel}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="editVehicle(vehicles.indexOf(vehicle))"></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>


    <!----------------------------  Zakładka Uzytkownicy  ---------------------------->

    <div ng-hide="checkPermissions()===''" id="users" class="tab-pane fade" ng-controller="usersController">

        <div class="container">

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-info" ng-click="showFilters = !showFilters">{{showFilters ? 'Ukryj filtry ' : 'Pokaż filtry '}}<span class="glyphicon glyphicon-filter"></span></a>
                    <a class="btn btn-success" ng-click="addUser()">Dodaj użytkownika <span class="glyphicon glyphicon-plus"></span></a>
                </div>
            </div>

            <div class="row" ng-show="showFilters">
                <br>
                <div class="col-md-offset-2 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Imię: </span>
                        <input type="text" class="form-control" ng-model="firstNameFilter" title="usersFirstNameFilter">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Nazwisko: </span>
                        <input type="text" class="form-control" ng-model="lastNameFilter" title="usersLastNameFilter">
                    </div>
                </div>

            </div>

            <div class="row" ng-show="showFilters">
                <br>
                <div class="col-md-offset-5 col-md-2">
                    <div class="input-group center-block"><input type="checkbox" ng-model="showInactiveFilter" title="usersShowInactiveFilter">Pokaż niekatywnych</div>
                </div>
            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'firstName';descendingSort = !descendingSort">
                            Imię
                            <span ng-show="sortingKey == 'firstName' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'firstName' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'lastName';descendingSort = !descendingSort">
                            Nazwisko
                            <span ng-show="sortingKey == 'lastName' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'lastName' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'username';descendingSort = !descendingSort">
                            Login
                            <span ng-show="sortingKey == 'username' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'username' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="sortingKey = 'userRole';descendingSort = !descendingSort">
                            Rola
                            <span ng-show="sortingKey == 'userRole' && !descendingSort" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortingKey == 'userRole' && descendingSort" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">Edytuj</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="user in users | filter:{firstName: firstNameFilter, lastName:lastNameFilter}| orderBy:sortingKey:descendingSort" ng-if="user.active === true || (user.active === false && showInactiveFilter === true)">
                    <td class="text-center">{{user.firstName}}</td>
                    <td class="text-center">{{user.lastName}}</td>
                    <td class="text-center">{{user.username}}</td>
                    <td ng-if="user.userRoleId === 1" class="text-center">Użytkownik</td>
                    <td ng-if="user.userRoleId === 2" class="text-center">Administrator</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="editUser(users.indexOf(user))"></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>

</body>

</html>


