<!DOCTYPE html>
<html ng-app="FrontEnd">

<head>

    <meta charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="Style/style.css">

    <script src="app.js"></script>
    <script src="Kontrolery/glownyKontroler.js"></script>

    <script src="Kontrolery/Zakladki/trasyKontroler.js"></script>
    <script src="Kontrolery/Zakladki/tankowaniaKontroler.js"></script>
    <script src="Kontrolery/Zakladki/pomiaryKontroler.js"></script>
    <script src="Kontrolery/Zakladki/kierowcyKontroler.js"></script>
    <script src="Kontrolery/Zakladki/pojazdyKontroler.js"></script>
    <script src="Kontrolery/Zakladki/uzytkownicyKontroler.js"></script>

    <script src="Kontrolery/Okna/Kierowca/dodajKierowceKontroler.js"></script>
    <script src="Kontrolery/Okna/Pojazd/dodajPojazdKontroler.js"></script>
    <script src="Kontrolery/Okna/Pomiar/dodajPomiarKontroler.js"></script>
    <script src="Kontrolery/Okna/Tankowanie/dodajTankowanieKontroler.js"></script>
    <script src="Kontrolery/Okna/Trasa/dodajTraseKontroler.js"></script>
    <script src="Kontrolery/Okna/Uzytkownik/dodajUzytkownikaKontroler.js"></script>

    <script src="Kontrolery/Okna/Kierowca/edytujKierowceKontroler.js"></script>
    <script src="Kontrolery/Okna/Pojazd/edytujPojazdKontroler.js"></script>
    <script src="Kontrolery/Okna/Pomiar/edytujPomiarKontroler.js"></script>
    <script src="Kontrolery/Okna/Tankowanie/edytujTankowanieKontroler.js"></script>
    <script src="Kontrolery/Okna/Trasa/edytujTraseKontroler.js"></script>
    <script src="Kontrolery/Okna/Uzytkownik/edytujUzytkownikaKontroler.js"></script>

    <script src="Kontrolery/Okna/Haslo/zmienHasloKontroler.js"></script>
    <script src="Kontrolery/Okna/Haslo/resetujHasloKontroler.js"></script>

    <title>FrontEnd</title>

</head>

<body>

<!----------------------------  Pasek nawigacyjny - Niezalogowany użytkownik  ---------------------------->

<nav ng-show="sprawdzUprawnienia()===''" class="navbar navbar-default" role="navigation" ng-controller="glownyKontroler">
    <div class="navbar-header">
        <a class="navbar-brand">Mateusz Trętowski - Praca inżynierska</a>
    </div>
</nav>


<!----------------------------  Panel logowania  ---------------------------->

<div ng-show="sprawdzUprawnienia()===''" class="container" ng-controller="glownyKontroler">

    <br>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-4">Email:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="email">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4">Hasło:</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" ng-model="haslo">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-4 col-sm-2">
                <button type="submit" class="btn btn-info" ng-click=zaloguj()>Zaloguj się</button>
            </div>
        </div>
    </form>
</div>


<!----------------------------  Pasek nawigacyjny - Zalogowany użytkownik  ---------------------------->

<nav ng-hide="sprawdzUprawnienia()===''" class="navbar navbar-default" role="navigation" ng-controller="glownyKontroler">
    <div class="navbar-header">
        <a class="navbar-brand">Mateusz Trętowski - Praca inżynierska</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zalogowano jako: <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="zmienHaslo()">Zmień hasło</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="" ng-click="wyloguj()">Wyloguj się</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


<!----------------------------  Zakładki  ---------------------------->

<div ng-hide="sprawdzUprawnienia()===''" class="container" ng-controller="glownyKontroler">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a data-toggle="tab" href="#trasy">Trasy</a></li>
        <li><a data-toggle="tab" href="#tankowania">Tankowania</a></li>
        <li><a data-toggle="tab" href="#pomiary">Pomiary</a></li>
        <li><a data-toggle="tab" href="#kierowcy">Kierowcy</a></li>
        <li><a data-toggle="tab" href="#pojazdy">Pojazdy</a></li>
        <li ng-show="sprawdzUprawnienia()==='administrator'"><a data-toggle="tab" href="#uzytkownicy">Użytkownicy</a>
        </li>
    </ul>
</div>


<!----------------------------  Zawartość zakładek  ---------------------------->


<div class="tab-content">


    <!----------------------------  Zakładka Trasy  ---------------------------->

    <div ng-hide="sprawdzUprawnienia()===''" id="trasy" class="tab-pane fade in active" ng-controller="trasyKontroler">

        <div class="container">
            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="btn-group">
                        <a class="btn btn-info" ng-click="pokazFiltry = !pokazFiltry">{{pokazFiltry ? 'Ukryj filtry' : 'Pokaż filtry'}}</a>
                        <a class="btn btn-success" ng-click="dodajTrase()">Dodaj trasę</a>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>
                <div class="col-md-offset-2 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data rozpoczęcia: </span>
                        <input type="date" class="form-control" ng-model="filtrDataOd">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data zakończenia: </span>
                        <input type="date" class="form-control" ng-model="filtrDataDo">
                    </div>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>
                <div class="col-md-offset-2 col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Kierowca: </span>
                        <input type="text" class="form-control" ng-model="filtrKierowca">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Pojazd: </span>
                        <input type="text" class="form-control" ng-model="filtrPojazd">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group"><input type="checkbox">Pokaż tylko podejrzane</div>
                </div>
            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'pojazd';odwrotneSortowanie = !odwrotneSortowanie">
                            Pojazd
                            <span ng-show="kluczSortowania == 'pojazd' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'pojazd' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'kierowca';odwrotneSortowanie = !odwrotneSortowanie">
                            Kierowca
                            <span ng-show="kluczSortowania == 'kierowca' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'kierowca' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'dataRozpoczecia';odwrotneSortowanie = !odwrotneSortowanie">
                            Data rozpoczęcia
                            <span ng-show="kluczSortowania == 'dataRozpoczecia' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'dataRozpoczecia' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'dataZakonczenia';odwrotneSortowanie = !odwrotneSortowanie">
                            Data zakończenia
                            <span ng-show="kluczSortowania == 'dataZakonczenia' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'dataZakonczenia' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'spalanieFakt';odwrotneSortowanie = !odwrotneSortowanie">
                            Sr. spal. fakt.
                            <span ng-show="kluczSortowania == 'spalanieFakt' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'spalanieFakt' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'spalanieGPS';odwrotneSortowanie = !odwrotneSortowanie">
                            Sr. spal. wg GPS
                            <span ng-show="kluczSortowania == 'spalanieGPS' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'spalanieGPS' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'roznica';odwrotneSortowanie = !odwrotneSortowanie">
                            Różnica w spalaniu
                            <span ng-show="kluczSortowania == 'roznica' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'roznica' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'dystans';odwrotneSortowanie = !odwrotneSortowanie">
                            Dystans
                            <span ng-show="kluczSortowania == 'dystans' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'dystans' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>
                    <th class="text-center">Edytuj</th>
                    <th class="text-center">Usuń</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="wiersz in trasy | filter:{pojazd: filtrPojazd, kierowca:filtrKierowca}| orderBy:kluczSortowania:odwrotneSortowanie">
                    <td class="text-center">{{wiersz.pojazd}}</td>
                    <td class="text-center">{{wiersz.kierowca}}</td>
                    <td class="text-center">{{wiersz.dataRozpoczecia | date : 'dd.MM.yyyy'}}</td>
                    <td class="text-center">{{wiersz.dataZakonczenia | date : 'dd.MM.yyyy'}}</td>
                    <td class="text-right">{{wiersz.spalanieFakt | number : 2}}</td>
                    <td class="text-right">{{wiersz.spalanieGPS | number : 2}}</td>
                    <td class="text-right">{{wiersz.roznica | number : 2}}</td>
                    <td class="text-right">{{wiersz.dystans | number : 2}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="edytujTrase()"></button>
                    </td>
                    <td>
                        <button type="button" class="btn-xs btn-danger glyphicon glyphicon-remove center-block"></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


    <!----------------------------  Zakładka Tankowania  ---------------------------->

    <div ng-hide="sprawdzUprawnienia()===''" id="tankowania" class="tab-pane fade" ng-controller="tankowaniaKontroler">

        <div class="container">

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="btn-group">
                        <a class="btn btn-info" ng-click="pokazFiltry = !pokazFiltry">{{pokazFiltry ? 'Ukryj filtry' : 'Pokaż filtry'}}</a>
                        <a class="btn btn-success" ng-click="dodajTankowanie()">Dodaj tankowanie</a>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>
                <div class="col-md-offset-2 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data od: </span>
                        <input type="date" class="form-control" ng-model="filtrDataOd">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data do: </span>
                        <input type="date" class="form-control" ng-model="filtrDataDo">
                    </div>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>
                <div class="col-md-offset-2 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Dostawca: </span>
                        <input type="text" class="form-control" ng-model="filtrDostawca">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Pojazd: </span>
                        <input type="text" class="form-control" ng-model="filtrPojazd">
                    </div>
                </div>
            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'pojazd';odwrotneSortowanie = !odwrotneSortowanie">
                            Pojazd
                            <span ng-show="kluczSortowania == 'pojazd' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'pojazd' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'data';odwrotneSortowanie = !odwrotneSortowanie">
                            Data
                            <span ng-show="kluczSortowania == 'data' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'data' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'ilosc';odwrotneSortowanie = !odwrotneSortowanie">
                            Ilość
                            <span ng-show="kluczSortowania == 'ilosc' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'ilosc' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'cena';odwrotneSortowanie = !odwrotneSortowanie">
                            Cena/litr
                            <span ng-show="kluczSortowania == 'cena' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'cena' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'waluta';odwrotneSortowanie = !odwrotneSortowanie">
                            Waluta
                            <span ng-show="kluczSortowania == 'waluta' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'waluta' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'dostawca';odwrotneSortowanie = !odwrotneSortowanie">
                            Dostawca
                            <span ng-show="kluczSortowania == 'dostawca' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'dostawca' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">Edytuj</th>
                    <th class="text-center">Usuń</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="wiersz in tankowania | filter:{pojazd: filtrPojazd, dostawca:filtrDostawca}| orderBy:kluczSortowania:odwrotneSortowanie">
                    <td class="text-center">{{wiersz.pojazd}}</td>
                    <td class="text-center">{{wiersz.data | date : 'dd.MM.yyyy'}}</td>
                    <td class="text-right">{{wiersz.ilosc | number : 2}}</td>
                    <td class="text-right">{{wiersz.cena | number : 2}}</td>
                    <td class="text-center">{{wiersz.waluta}}</td>
                    <td class="text-center">{{wiersz.dostawca}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="edytujTankowanie()"></button>
                    </td>
                    <td>
                        <button type="button" class="btn-xs btn-danger glyphicon glyphicon-remove center-block"></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>


    <!----------------------------  Zakładka Pomiary  ---------------------------->

    <div ng-hide="sprawdzUprawnienia()===''" id="pomiary" class="tab-pane fade" ng-controller="pomiaryKontroler">

        <div class="container">

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="btn-group">
                        <a class="btn btn-info" ng-click="pokazFiltry = !pokazFiltry">{{pokazFiltry ? 'Ukryj filtry' : 'Pokaż filtry'}}</a>
                        <a class="btn btn-success" ng-click="dodajPomiar()">Dodaj pomiar</a>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data od: </span>
                        <input type="date" class="form-control" ng-model="filtrDataOd">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Data do: </span>
                        <input type="date" class="form-control" ng-model="filtrDataDo">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Pojazd: </span>
                        <input type="text" class="form-control" ng-model="filtrPojazd">
                    </div>
                </div>
            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'pojazd';odwrotneSortowanie = !odwrotneSortowanie">
                            Pojazd
                            <span ng-show="kluczSortowania == 'pojazd' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'pojazd' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'data';odwrotneSortowanie = !odwrotneSortowanie">
                            Data
                            <span ng-show="kluczSortowania == 'data' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'data' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'sposob';odwrotneSortowanie = !odwrotneSortowanie">
                            Sposób pomiaru
                            <span ng-show="kluczSortowania == 'sposob' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'sposob' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'lewy';odwrotneSortowanie = !odwrotneSortowanie">
                            Zbiornik lewy
                            <span ng-show="kluczSortowania == 'lewy' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'lewy' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'prawy';odwrotneSortowanie = !odwrotneSortowanie">
                            Zbiornik prawy
                            <span ng-show="kluczSortowania == 'prawy' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'prawy' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">Edytuj</th>
                    <th class="text-center">Usuń</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="wiersz in pomiary | filter:{pojazd: filtrPojazd}| orderBy:kluczSortowania:odwrotneSortowanie">
                    <td class="text-center">{{wiersz.pojazd}}</td>
                    <td class="text-center">{{wiersz.data | date : 'dd.MM.yyyy'}}</td>
                    <td class="text-center">{{wiersz.sposob}}</td>
                    <td class="text-right">{{wiersz.lewy | number : 2}}</td>
                    <td class="text-right">{{wiersz.prawy | number : 2}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="edytujPomiar()"></button>
                    </td>
                    <td>
                        <button type="button" class="btn-xs btn-danger glyphicon glyphicon-remove center-block"></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

    <!----------------------------  Zakładka Kierowcy  ---------------------------->

    <div ng-hide="sprawdzUprawnienia()===''" id="kierowcy" class="tab-pane fade" ng-controller="kierowcyKontroler">

        <div class="container">

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="btn-group">
                        <a class="btn btn-info" ng-click="pokazFiltry = !pokazFiltry">{{pokazFiltry ? 'Ukryj filtry' : 'Pokaż filtry'}}</a>
                        <a class="btn btn-success" ng-click="dodajKierowce()">Dodaj kierowcę</a>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>
                <div class="col-md-offset-2 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Imię: </span>
                        <input type="text" class="form-control" ng-model="filtrImie">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Nazwisko: </span>
                        <input type="text" class="form-control" ng-model="filtrNazwisko">
                    </div>
                </div>
            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'imie';odwrotneSortowanie = !odwrotneSortowanie">
                            Imię
                            <span ng-show="kluczSortowania == 'imie' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'imie' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'nazwisko';odwrotneSortowanie = !odwrotneSortowanie">
                            Nazwisko
                            <span ng-show="kluczSortowania == 'nazwisko' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'nazwisko' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">Edytuj</th>
                    <th class="text-center">Usuń</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="wiersz in kierowcy | filter:{imie: filtrImie, nazwisko:filtrNazwisko}| orderBy:kluczSortowania:odwrotneSortowanie">
                    <td class="text-center">{{wiersz.imie}}</td>
                    <td class="text-center">{{wiersz.nazwisko}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="edytujKierowce()"></button>
                    </td>
                    <td>
                        <button type="button" class="btn-xs btn-danger glyphicon glyphicon-remove center-block"></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>


    <!----------------------------  Zakładka Pojazdy  ---------------------------->

    <div ng-hide="sprawdzUprawnienia()===''" id="pojazdy" class="tab-pane fade" ng-controller="pojazdyKontroler">

        <div class="container">

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="btn-group">
                        <a class="btn btn-info" ng-click="pokazFiltry = !pokazFiltry">{{pokazFiltry ? 'Ukryj filtry' : 'Pokaż filtry'}}</a>
                        <a class="btn btn-success" ng-click="dodajPojazd()">Dodaj pojazd</a>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>
                <div class="col-md-offset-2 col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Numer rejestracyjny: </span>
                        <input type="text" class="form-control" ng-model="filtrNumerRejestracyjny">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Marka i model: </span>
                        <input type="text" class="form-control" ng-model="filtrMarka">
                    </div>
                </div>
            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'numerRejestracyjny';odwrotneSortowanie = !odwrotneSortowanie">
                            Numer rejestracyjny
                            <span ng-show="kluczSortowania == 'numerRejestracyjny' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'numerRejestracyjny' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'marka';odwrotneSortowanie = !odwrotneSortowanie">
                            Marka i model
                            <span ng-show="kluczSortowania == 'marka' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'marka' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'norma';odwrotneSortowanie = !odwrotneSortowanie">
                            Norma spalania (L / 100 km)
                            <span ng-show="kluczSortowania == 'norma' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'norma' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'odchylenie';odwrotneSortowanie = !odwrotneSortowanie">
                            Dopuszczalne odchylenie (L / 100 km)
                            <span ng-show="kluczSortowania == 'odchylenie' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'odchylenie' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">Edytuj</th>
                    <th class="text-center">Usuń</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="wiersz in pojazdy | filter:{imie: filtrImie, nazwisko:filtrNazwisko}| orderBy:kluczSortowania:odwrotneSortowanie">
                    <td class="text-center">{{wiersz.numerRejestracyjny}}</td>
                    <td class="text-center">{{wiersz.marka}}</td>
                    <td class="text-right">{{wiersz.norma | number : 2}}</td>
                    <td class="text-right">{{wiersz.odchylenie | number : 2}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="edytujPojazd()"></button>
                    </td>
                    <td>
                        <button type="button" class="btn-xs btn-danger glyphicon glyphicon-remove center-block"></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>


    <!----------------------------  Zakładka Uzytkownicy  ---------------------------->

    <div ng-hide="sprawdzUprawnienia()===''" id="uzytkownicy" class="tab-pane fade" ng-controller="uzytkownicyKontroler">

        <div class="container">

            <br>

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="btn-group">
                        <a class="btn btn-info" ng-click="pokazFiltry = !pokazFiltry">{{pokazFiltry ? 'Ukryj filtry' : 'Pokaż filtry'}}</a>
                        <a class="btn btn-success" ng-click="dodajUzytkownika()">Dodaj użytkownika</a>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="pokazFiltry">
                <br>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Imię: </span>
                        <input type="text" class="form-control" ng-model="filtrImie">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Nazwisko: </span>
                        <input type="text" class="form-control" ng-model="filtrNazwisko">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Rola: </span>
                        <input type="text" class="form-control" ng-model="filtrRola">
                    </div>
                </div>
            </div>

            <br>

            <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'imie';odwrotneSortowanie = !odwrotneSortowanie">
                            Imię
                            <span ng-show="kluczSortowania == 'imie' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'imie' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'nazwisko';odwrotneSortowanie = !odwrotneSortowanie">
                            Nazwisko
                            <span ng-show="kluczSortowania == 'nazwisko' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'nazwisko' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'email';odwrotneSortowanie = !odwrotneSortowanie">
                            Email
                            <span ng-show="kluczSortowania == 'email' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'email' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">
                        <a href="#" ng-click="kluczSortowania = 'rola';odwrotneSortowanie = !odwrotneSortowanie">
                            Rola
                            <span ng-show="kluczSortowania == 'rola' && !odwrotneSortowanie" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="kluczSortowania == 'rola' && odwrotneSortowanie" class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </th>

                    <th class="text-center">Edytuj</th>
                    <th class="text-center">Usuń</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="wiersz in uzytkownicy | filter:{imie: filtrImie, nazwisko:filtrNazwisko, rola:filtrRola}| orderBy:kluczSortowania:odwrotneSortowanie">
                    <td class="text-center">{{wiersz.imie}}</td>
                    <td class="text-center">{{wiersz.nazwisko}}</td>
                    <td class="text-center">{{wiersz.email}}</td>
                    <td class="text-center">{{wiersz.rola}}</td>
                    <td>
                        <button type="button" class="btn-xs btn-warning glyphicon glyphicon-edit center-block" ng-click="edytujUzytkownika()"></button>
                    </td>
                    <td>
                        <button type="button" class="btn-xs btn-danger glyphicon glyphicon-remove center-block"></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>


</body>

</html>


