<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close glyphicon glyphicon-remove" ng-click="close()"></button>
        <h4 class="modal-title">{{title}}</h4>
    </div>

    <div class="modal-body">
        <form class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-md-2">Pojazd</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="vehicle.plateNumbers" title="vehicle.plateNumbers" disabled>
                </div>
                <div class="col-md-4">
                    <div class="btn-group-sm">
                        <a class="btn btn-info" ng-click="selectVehicle()">Wybierz</a>
                        <a class="btn btn-danger" ng-click="deleteVehicle()">Usuń</a>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Data</label>
                <div class="col-md-4">
                    <input type="date" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="date" title="day">
                </div>
                <label class="control-label col-md-2">Godzina</label>
                <div class="col-md-4">
                    <input type="time" class="form-control" ng-model-options="{ timezone: 'UTC' }" ng-model="date" title="hour">
                </div>
            </div>

            <div class="form-group">

                <div ng-if="editingImported == false">
                    <label class="control-label col-md-2">Dostawca</label>
                    <div class="col-md-4">
                        <select class="form-control" ng-model="$parent.supplierId" title="supplierId">
                            <option selected="selected" value="">-</option>
                            <option value="1">E100</option>
                            <option value="2">DKV</option>
                        </select>
                    </div>
                </div>

                <label class="control-label col-md-2">Ilość</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" ng-model="amount" title="amount">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Kwota brutto</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" ng-model="grossValue" title="grossValue">
                </div>
                <label class="control-label col-md-2">Waluta</label>
                <div class="col-md-4">
                    <select class="form-control" ng-model="currency" title="currency">
                        <option selected="selected" value="">-</option>
                        <option value="PLN">PLN</option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                        <option value="HUF">HUF</option>
                        <option value="RUB">CZK</option>
                        <option value="CHF">CHF</option>
                        <option value="RUB">RUB</option>
                    </select>
                </div>
            </div>

            <div ng-if="editingImported == true">
                <div class="form-group">
                    <label class="control-label col-md-2">Opis</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="$parent.description" title="description">
                    </div>
                </div>
                <h5 class="text-center">
                    <small>Slowa, dzięki którym system jednoznacznie rozpoznaje tankowania to: {{dictionary}}</small>
                </h5>
                <h5 ng-if="supplier == 'E100'" class="text-center">
                    <small>Słowa kluczowe, których poszukuje system gdy nie znajdzie slow jednoznacznie wskazujących na fuelling: {{keyWords}}</small>
                </h5>
            </div>

            <div ng-if="supplier == 'DKV' && editingImported == true">
                <div class="form-group">
                    <label class="control-label col-md-3">Dodatkowy opis</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="$parent.additionalDescription" title="additionalDescription">
                    </div>
                </div>
                <h5 class="text-center">
                    <small>Słowa kluczowe, których poszukuje system gdy nie znajdzie slow jednoznacznie wskazujących na fuelling: {{keyWords}}</small>
                </h5>
            </div>

        </form>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="accept()">{{acceptButtonTitle}}</button>
        <button type="button" class="btn btn-danger" ng-click="close()">Anuluj</button>
    </div>
</div>