<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close glyphicon glyphicon-remove" ng-click="close()"></button>
        <h4 class="modal-title">Importuj tankowania z pliku</h4>
    </div>

    <div class="modal-body">

        <form class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-md-4">Dostawca</label>
                <div class="col-md-8">
                    <select class="form-control" ng-model="supplier" title="supplier">
                        <option selected="selected" value="">-</option>
                        <option value="E100">E100</option>
                        <option value="DKV">DKV</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <input type="file" id="wyborPliku" ng-model="file"/>
                </div>
            </div>

        </form>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="readFile()">Importuj</button>
        <button type="button" class="btn btn-danger" ng-click="close()">Anuluj</button>
    </div>
</div>